<div class="background-left"></div>
<div class="background-right"></div>

<div class="register-container">
  <div class="logo-container">
    <img src="assets/images/logo.webp" alt="Logo de l'application" class="app-logo">
  </div>

  <h1>Email envoyé</h1>
  <br>
  <p>Un email de confirmation a été envoyé à votre adresse : <strong>{{ email }}</strong>.</p>
  <p>Veuillez vérifier votre boîte de réception.</p>
  <br>
  <div class="login-link">
    <p>Retourner à la <a routerLink="/login">connexion</a></p>
  </div>
</div>
